<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <label>Alternative Background</label>
      </ion-col>
      <!-- isChecked buat  gesave perubahan toggle -->
      <ion-toggle (ionChange)="onToggle($event)" [checked]="isChecked()"></ion-toggle>
    </ion-row>
  </ion-grid>

</ion-content>
