<ion-menu [content] = "sideMenuContent">
        <ion-header>
            <ion-toolbar text-center>
                <h2>Menu</h2>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <button ion-item (click)="onLoad(tabsPage)">
                    <ion-icon name="quote" item-left></ion-icon>Quotes
                </button>
                <button ion-item (click)="onLoad(settingsPage)">
                        <ion-icon name="settings" item-left></ion-icon>Settings
                    </button>
            </ion-list>
        </ion-content>    
</ion-menu>

<ion-nav [root]="rootPage" #sideMenuContent></ion-nav>

<!-- ini buat munculin menu di semua halaman -->
<ion-navbar>
    <ion-buttons >
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons>
</ion-navbar>