<!--
  Generated template for the QuotePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Quote page</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card text-center >
    <ion-card-content>
       <h3>{{quoteText}}</h3><br>
      <h4>{{quoteAutor}}</h4> 
    </ion-card-content>
    <ion-row>
      <ion-col text-center>
        <button ion-button round outline small color="danger" (click)="unFavQuote(quote)">Unfavorite</button>
      </ion-col>
    </ion-row>
    
  </ion-card>
  <div text-center>
  <button ion-button color="danger" (click)="closeModal()" >close</button>
  </div>
</ion-content>
