<!--
  Generated template for the LibraryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Library page</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <h3>Select your Favorite Quotes</h3>
    
    <ion-list>
      <!-- format ngFor ngebikin var let "apa" of "variable yang terima data di ts" -->
      <!-- navPush itu tujuan kemana -->
      <!-- navPramas ngirim parameter
          kenapa kirimnya qutesGroup soalnya kirimnya perkelompok
          kalo collection itu dia semua
      -->
      
      <button [navPush]="quotesPage" [navParams]="quoteGroup" ion-item *ngFor="let quoteGroup of quoteCollection">
        <ion-icon [name]="quoteGroup.icon" item-left></ion-icon>
        <h2>{{quoteGroup.category |uppercase}}</h2>
        <p>{{quoteGroup.quotes.length}} Quote(s)</p>
      </button>
    </ion-list>

</ion-content>
