<!--
  Generated template for the FavoritesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Favorites page</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list class="color">
    <ion-item-sliding *ngFor="let item of quotes">
      <ion-item (click)="showQuote(item)" [color]="setBgColor()">
        <h3>{{item.text}}</h3><br>
        <p calss="person">{{item.person}}</p>
      </ion-item>
      <ion-item-options slide="right">
        <button ion-button color="danger" (click)="unFavQuote(item)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
    
  </ion-list>
</ion-content>
